.cartProducts {
  height: 25vh;
  margin-bottom: 2vh;
  display: flex;
  column-gap: 2vw;
  font-family: var(--primary-color);
}

.cartProducts > img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.detailsColumn {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  flex: 1;
  font-family: var(--primary-fontFamily);
}

@media (max-width: 768px) {
  .cartProducts {
    height: 25vh;
    padding: 1vh;
    margin-bottom: 3vh;

    img {
      border: none;
    }
  }
}
